body {
    background-image: url(../Assets/Background1.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#loading {
    width: 450px;
    height: 450px;
    background: url(../Assets/MSKM_Logo.png) no-repeat center center;
    background-size: contain;
    animation: pulseShrink 3s forwards;
}

@keyframes pulseShrink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}