body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Assets/Background1.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px #000000;
}

.logo {
    display: block;
    margin: 0 auto 30px;
    max-width: 150px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999999;
    pointer-events: none;
    transition: 0.3s ease all;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 5px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.btn-block {
    width: 100%;
    margin-top: 20px;
}

.additional-links {
    text-align: center;
    margin-top: 20px;
}

.forgot-link {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
}

.social-media {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 5px;
}

.social-icon img {
    width: 35px;
    height: 35px;
    transition: opacity 0.3s ease;
}

.social-icon img:hover {
    opacity: 0.7;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.loader {
    width: 35px;
    height: 80px;
    position: relative;
    margin: auto;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0 0 20px;
    border-radius: 50px 50px 10px 10px;
    padding: 1px;
    background: linear-gradient(#ff4d80 33%, #ffa104 0 66%, #01ddc7 0) content-box;
    --c: radial-gradient(farthest-side, #000 94%, #0000);
    -webkit-mask:
        linear-gradient(#0000 0 0),
        var(--c) -10px -10px,
        var(--c) 15px -14px,
        var(--c) 9px -6px,
        var(--c) -12px 9px,
        var(--c) 14px 9px,
        var(--c) 23px 27px,
        var(--c) -8px 35px,
        var(--c) 50% 50%,
        linear-gradient(#000 0 0);
    mask:
        linear-gradient(#000 0 0),
        var(--c) -10px -10px,
        var(--c) 15px -14px,
        var(--c) 9px -6px,
        var(--c) -12px 9px,
        var(--c) 14px 9px,
        var(--c) 23px 27px,
        var(--c) -8px 35px,
        var(--c) 50% 50%,
        linear-gradient(#0000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude, add, add, add, add, add, add, add, add;
    mask-repeat: no-repeat;
    animation: l3 3s infinite;
}

.loader:before {
    content: "";
    position: absolute;
    inset: 50% calc(50% - 4px) 0;
    background: #e0a267;
    border-radius: 50px;
}

@keyframes l3 {
    0% {
        -webkit-mask-size: auto, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
    }

    10% {
        -webkit-mask-size: auto, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
    }

    20% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
    }

    30% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 0 0, 0 0, 0 0, 0 0, 0 0
    }

    40% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 0 0, 0 0, 0 0, 0 0
    }

    50% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 0 0, 0 0, 0 0
    }

    60% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 0 0, 0 0
    }

    70% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 25px 25px, 0 0
    }

    80%,
    100% {
        -webkit-mask-size: auto, 25px 25px, 25px 25px, 30px 30px, 30px 30px, 25px 25px, 25px 25px, 25px 25px, 200% 200%
    }
}




.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #000000;
}

.popup h2 {
    margin-top: 0;
    color: #007bff;
}

#close-error-popup {
    margin-top: 20px;
}