/* ===== ===== ===== VARIABLES ===== ===== ===== */
:root {
    /* ----- Colors ----- */
    --gray: #666666;
    --black: #000000;
    --darkPink: #b28089;
    --sakuraPink: #ffb7c5;




    /* ----- Light Mode ----- */
    --lightMode_text-color: var(--black);
    --lightMode_hover-color: var(--darkPink);
    --lightMode_border-color: var(--black);
    --lightMode_background-color: var(--sakuraPink);



    /* ----- Dark Mode ----- */
    --darkMode_text-color: var(--sakuraPink);
    --darkMode_hover-color: var(--sakuraPink);
    --darkMode_border-color: var(--sakuraPink);
    --darkMode_background-color: var(--black);
    --darkMode_input_background-color: var(--black);
}










/* ====== ====== ====== ====== ====== Default Settings ===== ====== ====== ====== ====== */
/* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

/* For Firefox */
html {
    scrollbar-color: rgba(75, 0, 130, 0.2) transparent;
    scrollbar-width: thin;
}

body {
    font-family: monospace, serif;
}










/* ===== ===== ===== Light Mode (Default) ===== ===== ===== */
body {
    color: var(--lightMode_text-color);
    background-color: var(--lightMode_background-color);

    transition: background-color 0.3s, color 0.3s;
}




.navbar-vertical .navigationBar {
    color:var(--lightMode_text-color)
}

.navbar-vertical .navigationBar.active {
    opacity: 100%;

    color: var(--lightMode_text-color);
    background-color: #b28089;
}

.navbar-vertical .mainBtnGrp:hover {
    background-color: #b28089;
}










/* ===== ===== ===== Dark Mode ===== ===== ===== */
body.dark-mode .logo svg {
    filter: invert(1);
}

body.dark-mode {
    color: #ffb7c5;
    background-color: #000000;
}




body.dark-mode .navbar-vertical .navigationBar.active {
    opacity: 100%;
    color: #ffb7c5;
    background-color: #666666;
}

body.dark-mode .navbar-vertical .navigationBar {
    color:#ffb7c5
}

.navbar-vertical .mainBtnGrp:hover {
    background-color: #b28089;
}




/* ===== ===== ===== Other Bullshit ===== ===== ===== */
.logo {
    position: relative;
    display: inline-block;
    margin: 0px 20px 0px 5px;
}




.header {
    padding: 10px 0 0 0;

    background-color: transparent;
}




.nav-container {
    display: flex;
    align-items: flex-start;
}

.nav-pills .nav-link {
    opacity: 50%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;

    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;

    color: var(--black);
    background: none;
}




.navbar-vertical {
    height: 100%;
    padding: 20px 0px;
    margin: 0 auto 0 10px;
    border-radius: 15px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: transparent;
}

.navbar-vertical .nav-link {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.navbar-vertical .navigationBar {
    text-align: center;
}

.navbar-vertical svg,
.navbar-vertical img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto 5px auto;
}




/* ===== ===== ===== Animations ===== ===== ===== */
/* ----- Logo -----  */
.logo svg,
.logo img {
    width: 120px;
    height: 120px;
}

.logo svg:hover,
.logo img:hover {
    animation: shake 0.5s linear;
}




/* Refresh Connection Button */
.refreshBTN:hover img {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}




/* ----- Stocks ----- */
.stocksBTN:hover img {
    animation: tilt 1.5s ease-in-out infinite;
}

@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes pause {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}




/* ----- Reports ----- */
.reportsBTN:hover #reportsButton {
    animation: reportsButtonAnimation 1000ms linear infinite normal forwards;
}

@keyframes reportsButtonAnimation {
    0% { transform: translate(390.16449px, 112.601501px); }
    30% { transform: translate(374.697429px, 133.946058px); }
    70% { transform: translate(361.82049px, 152.815878px); }
    100% { transform: translate(390.16px, 112.6px); }
}




/* ----- Settings ----- */
.settingsBTN:hover img {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}